flows.json
[{"id":"730261f6.7b59b","type":"tab","label":"life expectancy","disabled":false,"info":""},{"id":"b206dd3c.1de3d","type":"function","z":"730261f6.7b59b","name":"","func":"global.set(\"country\",msg.payload.country)\nglobal.set(\"yr\",msg.payload.yr)\nglobal.set(\"sts\",msg.payload.sts)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"id\",msg.payload.id)\nglobal.set(\"alc\",msg.payload.alc)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"hep\",msg.payload.hep)\nglobal.set(\"mes\",msg.payload.mes)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"ufd\",msg.payload.ufd)\nglobal.set(\"pol\",msg.payload.pol)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"dph\",msg.payload.dph)\nglobal.set(\"ha\",msg.payload.ha)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"pop\",msg.payload.pop)\nglobal.set(\"thin\",msg.payload.thin)\nglobal.set(\"thinn\",msg.payload.thinn)\nglobal.set(\"ic\",msg.payload.ic)\nglobal.set(\"scl\",msg.payload.scl)\nvar apikey=\"-ZWd8wTqp1rNEUqihBwkImlApmM9Rl_z1Y6Qvy9s4Hwl\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["22733a25.188036"]]},{"id":"22733a25.188036","type":"http request","z":"730261f6.7b59b","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":360,"wires":[["c5c6850f.a25d48"]]},{"id":"60018fe1.884","type":"debug","z":"730261f6.7b59b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":160,"wires":[]},{"id":"c5c6850f.a25d48","type":"function","z":"730261f6.7b59b","name":"","func":"var country = global.get('country')\nvar yr = global.get('yr')\nvar sts = global.get('sts')\nvar am = global.get('am')\nvar id = global.get('id')\nvar alc = global.get('alc')\nvar pe = global.get('pe')\nvar hep = global.get('hep')\nvar mes = global.get('mes')\nvar bmi = global.get('bmi')\nvar ufd = global.get('ufd')\nvar pol = global.get('pol')\nvar te = global.get('te')\nvar dph = global.get('dph')\nvar ha = global.get('ha')\nvar gdp = global.get('gdp')\nvar pop = global.get('pop')\nvar thin = global.get('thin')\nvar thinn = global.get('thinn')\nvar ic = global.get('ic')\nvar scl = global.get('scl')\nvar token=msg.payload.access_token\nvar instance_id=\"6671ef2b-a30a-4154-87cc-f2d01864eb7e\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\":[[country,yr,sts,am,id,alc,pe,hep,mes,bmi,ufd,pol,te,dph,ha,gdp,pop,thin,thinn,ic,scl]] }]}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["69bf3477.14a59c"]]},{"id":"69bf3477.14a59c","type":"http request","z":"730261f6.7b59b","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/ba259211-98e5-4c90-a437-21c48b220c4a/predictions","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":360,"wires":[["ec332824.d69438"]]},{"id":"759b5fb6.b7ae1","type":"ui_form","z":"730261f6.7b59b","name":"","label":"","group":"ad89b90a.280f88","order":1,"width":0,"height":0,"options":[{"label":"country name","value":"country","type":"text","required":true,"rows":null},{"label":"year","value":"yr","type":"number","required":false,"rows":null},{"label":"status","value":"sts","type":"text","required":false,"rows":null},{"label":"adult mortality","value":"am","type":"number","required":false,"rows":null},{"label":"infant deaths","value":"id","type":"number","required":false,"rows":null},{"label":"alcohol","value":"alc","type":"number","required":false,"rows":null},{"label":"percentage expenditure","value":"pe","type":"number","required":false,"rows":null},{"label":"Hepatitis B","value":"hep","type":"number","required":false,"rows":null},{"label":"Measles","value":"mes","type":"number","required":false,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":false,"rows":null},{"label":"under-five deaths","value":"ufd","type":"number","required":false,"rows":null},{"label":"Polio","value":"pol","type":"number","required":false,"rows":null},{"label":"Total expenditure","value":"te","type":"number","required":false,"rows":null},{"label":"Diphtheria","value":"dph","type":"number","required":false,"rows":null},{"label":"HIV/AIDS","value":"ha","type":"number","required":false,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":false,"rows":null},{"label":"Population","value":"pop","type":"number","required":false,"rows":null},{"label":"thinness 1-19 years","value":"thin","type":"number","required":false,"rows":null},{"label":"thinness 5-9 years","value":"thinn","type":"number","required":false,"rows":null},{"label":"Income composition of resources","value":"ic","type":"number","required":false,"rows":null},{"label":"Schooling","value":"scl","type":"number","required":false,"rows":null}],"formValue":{"country":"","yr":"","sts":"","am":"","id":"","alc":"","pe":"","hep":"","mes":"","bmi":"","ufd":"","pol":"","te":"","dph":"","ha":"","gdp":"","pop":"","thin":"","thinn":"","ic":"","scl":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":340,"wires":[["b206dd3c.1de3d"]]},{"id":"8bc96b30.4e5458","type":"ui_text","z":"730261f6.7b59b","group":"ad89b90a.280f88","order":2,"width":0,"height":0,"name":"","label":"predicted life expectancy","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":40,"wires":[]},{"id":"ec332824.d69438","type":"function","z":"730261f6.7b59b","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":140,"wires":[["60018fe1.884","8bc96b30.4e5458"]]},{"id":"ad89b90a.280f88","type":"ui_group","z":"","name":"details","tab":"826886ba.43f9c8","order":3,"disp":true,"width":"6","collapse":false},{"id":"826886ba.43f9c8","type":"ui_tab","z":"","name":"lyf exp","icon":"le","order":1,"disabled":false,"hidden":false}]